.container {
    display: flex;
    justify-content: space-between;
}

.card {
    border: 2px solid var(--accent);
}

.left {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.left .title {
    margin-bottom: 40px;
}

.left form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 12px;
    margin-bottom: 12px;
}

.left form .textField {
    width: 100%;
}

.left form .submitButton {
    width: 30%;
}

.left .reviews {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.left .reviews > * {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--accent);
    box-sizing: border-box;
    padding: 8px 12px;
}

.left .reviews .reviewer {
    display: flex;
    flex-direction: row-reverse;
}

.right {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.right .card {
    box-sizing: border-box;
    padding: 40px 20px;
}

.right .cover {
    height: auto;
    width: 100%;
    margin-bottom: 40px;
}
